.footer__copiright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .footer__copiright {
    margin-top: 0px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 24px;
  }
}
