.footer__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 766px) {
  .footer__list {
    margin: 0;
    margin-bottom: 48px;
    flex-direction: column;
    row-gap: 32px;
  }
}
