.place__url-heading {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    line-height: 12px;
  }
}
