.place__website {
  max-width: 100%;

}

@media screen and (max-width: 1279px) {
  .place__website {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    margin-bottom: 0;
    padding: 32px 16px;
  }
}

